<section class="breadcrumbs">
  <nav>
    <ul>
      <li>
        <%= link_to 'home', root_path %>
      </li>
      >>
      <li>
        <%= link_to 'config', config_path %>
      </li>
    </ul>
  </nav>
</section>
