#container {

  .breadcrumbs {
    nav {
      ul {
        li {
          a {
            margin: 0;
            padding: 5px;
            font-size: 14px;
            border-bottom: none;
            @include transition-all;
            color: $color-dark-lightest;
          }
        }
      }
    }
  }


  .servers, .accounts {
    margin-top: 25px;
    width: 500px;

    .account {
      .title {
        margin: 25px 0 0 0;
        font-size: 24px;
        line-height: 24px;
        a {
          margin: 0;
          padding: 0;
          font-size: 24px;
          font-weight: 600;
          color: rgba($color-1, .75);
          @include transition-all;
          &:hover {
            color: $color-1;
          }
          &.icon {
            float: right;
            margin-left: 10px;
            @include transition-all;
            &:hover {
              i {
                color: $color-1;
              }
            }
            i {
              color: rgba($color-1, .5);
              font-size: 14px;
            }
          }
        }
      }
    }

    .server {
      width: 100%;
      margin: 15px 0;
      padding: 15px;
      @include box-sizing(border-box);
      border: 1px solid $color-light-darker;

      .title {
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-weight: 400;
        color: $color-2;
      }
      .host-name {
        font-size: 28px;
        margin: 15px 0 0 0;
      }
    }
  }
}