.form {

  h2 {
    font-weight: 600;
    font-size: 26px;
  }

  form {

    label {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      color: $color-1;
    }
    input[type=text] {
      max-width: 500px;
    }
  }
}
