body > header {
  position: relative;
  background: $color-1;
  padding: 5px 25px;
  @include box-sizing(border-box);

  h1 {
    margin: 0;
    padding: 0;
    line-height: 24px;
    font-size: 24px;
    a {
      height: 54px;
      color: $color-light;
      @include transition-all;
      i {
        color: $color-light;
        font-size: 54px;
        line-height: 54px;
      }
    }
  }

  nav {
    position: absolute;
    right: 25px;
    top: 15px;
    width: auto;
    ul {
      li {
        a {
          margin: 0 15px;
          padding: 0;
          color: $color-light;
          border-bottom: none;
          &:hover {
            color: $color-light;
            border-bottom: none;
          }
          &.button {
            margin: 0;
            padding: 8px 15px;
            background: transparent;
            border: 1px solid $color-light;
            font-size: 15px;
            &:hover {
              background: $color-light;
              color: $color-1;
            }
          }
        }
      }
    }
  }
}
