<section class="breadcrumbs">
  <nav>
    <ul>
      <li>
        <%= link_to 'home', root_path %>
      </li>
      >>
      <li>
        <% if account == 'unattached' %>
          <%= link_to 'unattached', account_path('unattached') %>
        <% else %>
          <%= link_to account.name.humanize.downcase, account %>
        <% end %>
      </li>
    </ul>
  </nav>
</section>
